@import 'variables.scss';
//butons
.eBet-button {
  width: 100%;
  max-width: 110px;
  height: 32px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  background-color: $primary-color;
  color: $contrast-font-color;
}

.nav-button {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
      line-height: 1px;
      font-size: 18px;
      width: 100%;
      height: 35px;
      background-color: $primary-color;

    }
