@import 'variables.scss';
//butons
.eBet-button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 110px;
  height: 32px;
  border-radius: 5px;
  font-size: 22px;
  border: none;
  background-color: $primary-color;
  color: $contrast-font-color;

  &:focus {
    box-sizing: border-box;
    border: solid black 2px;
    opacity: 0.8;
  }
}

.nav-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  line-height: 1px;
  font-size: 20px;
  width: 100%;
  height: 35px;
  background-color: $primary-color;

  &:focus {
    box-sizing: border-box;
    border: solid black 2px;
    opacity: 0.8;
  }

}

back-button {
  margin-right: auto;
}
