/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'variables.scss';
@import 'input.scss';
@import 'button.scss';
@import 'modal.scss';
@import 'slider.scss';

body {
  background-color: $background-color;
  margin: 0;
  overflow: hidden;
}

* {
  color: $font-color;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size:18px;
}

button {
  border: none;
}

input {
  border: none;
}

.accent {
  color: $accent-color;
}


.primary {
  color: $primary-color;
}

.contrast {
  color: $contrast-font-color;
}

.bold {
  font-weight: bold;
}

.component{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:20px;
  width: calc(100% - 40px);
}

.eBet-point{
  max-height: 25px;
}

h1{
  font-size:26px;
}

a {
  text-decoration: underline;
}
.tab-label {
  margin-right: 10px !important;
  background-color: $primary-color !important;
  border-radius: 10px 10px 0 0 !important;

  &__active {
    @extend .tab-label;
    background-color: $primary-subcolor !important;
    border: 2px solid $grey-palette-400 !important;
  }
}


.mdc-tab__text-label{
  color: $font-color !important;
}

.mat-mdc-tab-label-container{
  flex-grow:0 !important;
}

.mdc-tab-indicator{
  width:0 !important;
  height:0 !important;
}
