$grey-palette-100: #222222;
$grey-palette-200: #262626;
$grey-palette-300: #2d2d2d;
$grey-palette-400: #3c3c3c;
$grey-palette-500: #4f4f4f;
$grey-palette-600: #5a5a5a;
$grey-palette-700: #7a7a7a;

$primary-color: #F89233;
$accent-color: #1CC9BF;
$error-color: #FF0000;
$font-color: #ffffff;
$contrast-font-color: #000000;


$background-color: $grey-palette-100;
$backgroud-item-color: $grey-palette-400;
