<div class="component" *ngIf="!loading">
  <back-button></back-button>
  <app-match-header [match]="match"></app-match-header>
  <div class="bets" *ngIf="oddArray && match && !loading">
    <app-bet-item [localTeamOdd]="winnerOdd![0].value" [awayTeamOdd]="winnerOdd![1].value" [type]="'winner'"
                  (onCreate)="createBet($event)"></app-bet-item>
    <app-bet-item *ngFor=" let odd of oddArray"
                  [localTeamOdd]="odd[1][0].value"
                  [awayTeamOdd]="odd[1][1].value"
                  [type]="odd[0]"
                  (onCreate)="createBet($event)">
    </app-bet-item>
  </div>
  <div *ngIf=" !oddArray && !match" class="no-bets">
    <span>{{'no-odds' | translate}}</span>
  </div>
</div>
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>
