<div class="component" *ngIf="!loading">
  <back-button></back-button>
  <app-match-header [match]="match!"></app-match-header>
  <div class="bets" *ngIf="sets.length>0 && match && !loading; else noBets">
    <h1>{{'make-your-bet'|translate}} : </h1>
    <app-bet-item [localTeamOdd]="winnerOdd![0].value" [awayTeamOdd]="winnerOdd![1].value" [type]="'winner'"
                  (onCreate)="createBet($event)"></app-bet-item>
    <mat-tab-group [selectedIndex]="tabActive" (selectedTabChange)="changeTabActive($event)" class="tabs">
      <mat-tab label="sets : " disabled="true" labelClass="tab-label__text">
      </mat-tab>
      <mat-tab *ngFor="let set of sets; let i = index" class="primary" label="{{i+1}}" labelClass="tab-label{{tabActive===i+1 ? '__active' : ''}}">
        <app-bet-item *ngFor="let odd of set"
                      [localTeamOdd]="odd[1][0].value"
                      [awayTeamOdd]="odd[1][1].value"
                      [type]="odd[0]"
                      [set]=i+1
                      (onCreate)="createBet($event)">
        </app-bet-item>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #noBets class="no-bets">
    <span>{{'no-odds' | translate}}</span>
  </ng-template>
</div>
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>
