<div class="teams" *ngIf="match">
  <div class="team">
    <img src="{{match.localTeam?.img}}">
    <h2 class="bold">{{match.localTeam?.acronym}}</h2>
  </div>
  <div class="center">
    <span class="date" [ngClass]="{'line': finished}">{{match.planDate}}</span>
    <h1 class="vs">
      <h1 class="primary" *ngIf="match.result">{{match.result.get(match.localTeam?.acronym!)}}</h1>
      VS
      <h1 class="primary" *ngIf="match.result">{{match.result.get(match.awayTeam?.acronym!)}}</h1>
    </h1>
    <div class="league">
      <img src="{{match.tournament.league.img}}">
      <span class="league__name">{{match.tournament.league.acronym}}</span>
      <span class="league__name accent">{{match.tournament.name}}</span>
    </div>
  </div>
  <div class="team__opposing">
    <img src="{{match.awayTeam?.img}}">
    <h2 class="bold">{{match.awayTeam?.acronym}}</h2>
  </div>
</div>
<div *ngIf="!match">
  <app-spinner></app-spinner>
</div>
