<div class="teams" *ngIf="match">
  <div class="team">
    <img src="{{match.localTeam.img}}">
    <h2 class="bold">{{match.localTeam.acronym}}</h2>
  </div>
  <div class="center">
    <span>{{match.planDate}}</span>
    <h1 class="vs">VS</h1>
    <div class="league">
      <img src="{{match.season.league.img}}">
      <span class="league__name">{{match.season.league.acronym}}</span>
      <span class="league__name accent">{{match.season.name}}</span>
    </div>
  </div>
  <div class="team__opposing">
    <img src="{{match.awayTeam.img}}">
    <h2 class="bold">{{match.awayTeam.acronym}}</h2>
  </div>
</div>
<div *ngIf="!match">
  <app-spinner></app-spinner>
</div>
