<div class="standing">
  <div class="rank-title">{{'ranking'|translate|uppercase}}</div>
  <div class="rank-header row">
    <span>{{'rank'|translate|uppercase}}</span>
    <span>{{'team'|translate|uppercase}}</span>
    <span>{{'point'|translate|uppercase}}</span>
  </div>
  <div class="rank-item-container scroll">
    <div *ngFor="let participation of participations" class="rank-item row" (click)="redirect(participation.team.id)">
      <span class="position">{{participation.position}}</span>
      <span class="name">{{participation.team.acronym}}</span>
      <span class="points">{{participation.points}}</span>
      <img src="{{participation.team.img}}">
    </div>
  </div>
</div>
