<div class="item" *ngIf="match" (click)="redirect()" [ngClass]="{'max-width':showTournament,'min-width':!showTournament}">
  <div class="teams">
    <div class="team">
      <img src="{{match.localTeam?.img}}" alt="{{match.localTeam?.name}}">
      <span>{{match.localTeam?.acronym}}</span>

    </div>
    <span class="vs accent">
      <span class="primary" *ngIf="match.result">{{match.result.get(match.localTeam?.acronym!)}}</span>
      VS
      <span class="primary" *ngIf="match.result">{{match.result.get(match.awayTeam?.acronym!)}}</span>
    </span>
    <div class="team team__opposing">
      <span>{{match.awayTeam?.acronym}}</span>
      <img src="{{match.awayTeam?.img}}" alt="{{match.awayTeam?.name}}">
    </div>
  </div>
  <div *ngIf="showTournament" class="tournament">
    <img src="{{match.tournament.league.img}}" alt="{{match.tournament.league.name}}">
    <span>{{match.tournament.league.acronym}}</span>
    <span class="accent">{{match.tournament.name}}</span>
  </div>
  <div>
    <span class="date" [ngClass]="{'line':finished}">{{date! | translate | uppercase}}</span>
  </div>
</div>
