@import '/src/assets/scss/variables.scss';

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $grey-palette-300;
  width: calc(100% - 30px);
  height: 50px;
  border-radius: 5px;
  padding: 0 15px 0 15px;

  .teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 250px;

    .team {
      display:flex;
      align-items: center;
      gap: 10px;
      padding: 5px 0 5px 0;
      width:80px;
      &__opposing{
        justify-content: flex-end;
      }
    }
  }

  .tournament {
    @extend .teams;
    width: auto;
    gap: 5px;
  }

  img {
    max-height: 40px;
    max-width: 45px;
  }

  .date {
    position: relative;
    letter-spacing: 0.1em;
  }
}


.min-width {
  min-width: 520px;
}

.max-width {
  min-width: 630px;
}

