<div [@sidebarAnimation]="sidebarState" class="sidenav">
    <div class="user-container">
      <app-user-avatar [user]="user" (redirectEmit)="redirect($event)"></app-user-avatar>
    </div>
    <nav>
      <div class="top">
        <a class="nav-button" href="/home/main">
          <i class="fa-solid fa-trophy"></i>
          <span>{{'leagues'|translate}}</span>
        </a>
        <a class="nav-button" href="/home/bets">
          <i class="fa-solid fa-gavel"></i>
          <span>{{'bets'|translate}}</span>
        </a>
        <a class="nav-button" href="/home/prizes">
          <i class="fa-solid fa-tags"></i>
          <span>{{'prizes'|translate}}</span>
        </a>
      </div>

      <div class="bottom">
        <div class="balance nav-button">
          <div class="balance-points">
            <span class="contrast">{{balance}}</span>
            <img class="eBet-point" src="assets/img/Ep.svg" alt="eBet points">
          </div>
        </div>
        <a (click)="navigate('auth/more-ep')">
          {{'get-more'|translate}}
        </a>
      </div>
    </nav>
  </div>
