<div class="component" *ngIf="!loading">
  <back-button></back-button>
  <app-match-header [match]="match"></app-match-header>
  <div class="bets" *ngIf="awayBettingOdd && localBettingOdd && match || !loading">
    <app-simple-bet *ngFor="let type of SimpleOdds"
                    [localTeam]="match?.localTeam!.acronym!" [localTeamOdd]="localBettingOdd[type]"
                    [awayTeam]="match?.awayTeam!.acronym!" [awayTeamOdd]="awayBettingOdd[type]"
                    [type]="type"
                    (onAccept)="createBet($event)">
    </app-simple-bet>
    <app-compound-bet *ngFor="let type of CompoundOdds"
                      [localTeam]="match?.localTeam!.acronym!" [localTeamOdd]="localBettingOdd[type]"
                      [awayTeam]="match?.awayTeam!.acronym!" [awayTeamOdd]="awayBettingOdd[type]"
                      [type]="type"
                      (onAccept)="createBet($event)">
    </app-compound-bet>
  </div>

    <div *ngIf=" !awayBettingOdd && !localBettingOdd && !match" class="no-bets">
      <span>{{'no-odds' | translate}}</span>
    </div>
</div>
<div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
