<div *ngIf="user">
  <div class="avatar">
    <img *ngIf="user.img" src="{{user.img}}" alt="avatar img">
    <img *ngIf="!user.img" src="../../../assets/img/user.svg" alt="avatar img">
  </div>
  <span *ngIf="user.username" class="username">{{user.username}}</span>
  <div>
    <button class="nav-button contrast bold" (click)="emit('log-out')">
      {{'log-out'|translate}}
    </button>
  </div>
</div>
<div *ngIf="!user">
  <div class="avatar">
    <img src="../../../assets/img/user.svg" alt="avatar img">
  </div>
  <div>
    <button class="nav-button contrast bold" (click)="emit('/auth/login')">
      {{'login'|translate}}
    </button>
  </div>
</div>
