<div class="component" *ngIf="matches">
  <app-carousel [images]="images" [height]="400"></app-carousel>
  <div class="leagues-container">
    <div class="leagues-carousel">
      <ngx-slick-carousel [config]="sliderLeagueConfig" *ngIf="leagues">
        <div ngxSlickItem *ngFor="let league of leagues">
          <div class="league" (click)="redirect(league.id)">
            <img class="league-img" src="{{ league.img }}" alt="{{league.name}}"/>
            <span>{{league.acronym}}</span>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <div class="match-list">
      <app-match-item *ngFor="let match of matches" [match]="match" [showTournament]="true" class="scroll x"></app-match-item>
  </div>
</div>
<div *ngIf="!matches">
    <app-spinner></app-spinner>
  </div>
