@import '/src/assets/scss/variables.scss';
.component {
  gap: 20px;
}

.leagues-container {
  background-color: $grey-palette-300;
  border-radius: 25px;
  margin-top: 20px;
  height: 50px;
  width: 90%;
  max-width: 800px;
  min-width: calc(100px * 2);
  display: flex;
  justify-content: center;

  .leagues-carousel {
    margin: 0 10px 0 10px;
    width: calc(90% - 20px);

    .league {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      max-width: 100px;

      .league-img {
        width: 50px;
      }
    }
  }
}

.match-list {
  margin-top: 20px;
  max-width: 730px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  app-match-item{
    max-width: calc(100% - 20px);
    margin: 0 10px 0 10px;
  }
}


