<div class="content" *ngIf="displayTime">
  <header>
    <a href="/"><img src="assets/img/Logo-1.svg" alt="logo eBet"></a>
    <back-button></back-button>
  </header>
  <h1>{{'Obtain your free'|translate}} 100<img class="eBet-point" src="assets/img/Ep.svg" alt="eBet-point"></h1>
  <div class="counter">
    {{displayTime}}
  </div>
  <button class="eBet-button" [disabled]="!redeem" (click)="redeemPrize()">
    {{'redeem'|translate|uppercase}}
  </button>
</div>
<div *ngIf="!displayTime">
  <app-spinner></app-spinner>
</div>
