<div class="component" *ngIf="!loading">
  <div class="top">
    <back-button></back-button>
    <a *ngIf="privileges" class="add-button" href="/home/prize/new"><i class="fa-solid fa-plus"></i>{{'prize'|translate}}</a>
  </div>
  <h1>{{'Prizes' | translate}}</h1>
  <div class="prize-container">
    <div class="eBet-filters">
      <button class="eBet-filter" (click)="applyFilter()">{{'buyable'|translate}}</button>
    </div>
    <div class="prize-list">
      <div class="prize-item" *ngFor="let prize of viewPrizes" >
        <button *ngIf="privileges" class="delete-button" (click)="deletePrize(prize.id)"><i class="fa-regular fa-trash-can"></i></button>
        <app-prize-item [prize]="prize" [url]="backEnd" (emitBuy)="buyPrize($event)"></app-prize-item>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

