<div class="content">

  <div class="logo">
    <a href="/"><img src="/assets/img/Logo-1.svg" alt="logo eBet"></a>
  </div>
  <h1>{{"log-in" | translate}}</h1>
  <div *ngIf="error" class="input-error">
    <div>{{error | translate}}</div>
  </div>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="eBet-input">
      <label>{{"form.username" | translate}}</label>
      <div><input type="text" formControlName="username" name="username"><hr></div>
      <app-form-error-messages [control]="form.get('username')!"></app-form-error-messages>
    </div>
    <div class="eBet-input">
      <label>{{"form.password" | translate}}</label>
      <div><input type="password" formControlName="password" name="password"><hr></div>
      <app-form-error-messages [control]="form.get('password')!"></app-form-error-messages>
    </div>
    <div class="buttons-container">
      <a href="/user/register">{{"sign-in" |translate}} ></a>
      <button type=submit class="eBet-button">{{"confirm"|translate}}</button>
    </div>
  </form>

</div>
