<div class="compound-bet">
  <div class="bets">
    <div class="bet" *ngFor="let odd of arrayLocalTeamOdd">
      <div class="number" *ngIf="type!='winner'">{{odd[0]}}</div>
      <div class="odd" (click)="createBet('l',odd[0],odd[1])">
        {{odd[1] | number:'.2'}}
      </div>
    </div>
  </div>
  <div class="type">
    <span class="contrast bold">{{"odd."+ type! | translate |uppercase}}</span>
  </div>
  <div class="bets__opposing">
    <div class="bet" *ngFor="let odd of arrayAwayTeamOdd">
      <div class="number" *ngIf="type!='winner'">{{odd[0]}}</div>
      <div class="odd" (click)="createBet('a',odd[0],odd[1])">
        {{odd[1]| number:'.2'}}
      </div>
    </div>
  </div>
</div>
