<header>
  <div class="buttons">
    <button class="menu-button" (click)="toggleSideNav()" *ngIf="!staticSideNav"><i class="fa-solid fa-bars"></i></button>
    <a href="/"><img src="assets/img/Logo-2.svg" alt="logo"></a>
  </div>
  <div class="buttons">
    <button>LOL</button>
    <button>VALORANT</button>
  </div>
</header>
<div class="content">
  <app-sidenav #sidebar></app-sidenav>
  <main [ngClass]="{'thinner' : thinner}" class="scroll">
    <router-outlet></router-outlet>
  </main>
</div>
