@import 'src/assets/scss/variables.scss';

.item {
  margin: 10px;
  width: 280px;
  height: 450px;


  .img-container {
    width: 100%;
    height: 396px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .footer {
    width: calc(100% - 24px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    border: 2px solid black;
    border-top: 0;
    background-color: $grey-palette-600;

    gap: 10px;
    padding: 0 10px 0 10px;

    span {
      font-size: 30px;
    }
  }
}
