@import 'src/assets/scss/variables.scss';

.item {
  margin: 10px;
  width: 160px;
  height: 250px;
  position:relative;

  .buy-button{
    background-color: $primary-color;
    border-radius : 5px;
    padding:5px 15px 5px 15px ;
    position: absolute;
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    *{
      font-size: 30px;
    }
  }


  .img-container {
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .footer {
    width: calc(100% - 24px);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    border: 2px solid black;
    border-top: 0;
    background-color: $grey-palette-600;

    gap: 10px;
    padding: 0 10px 0 10px;

    img{
      height: 25px;
    }

    span {
      font-size: 18px;
    }
  }
}
